{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

	{% include 'header/global/header.html' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<form action="#" class="form" enctype="multipart/form-data">
					<div class="form__inner">

						<!-- вот эта структура обязательна!!! НАЧАЛО -->
						<div class="form__row">
							<div class="form__col form__col_file">
								<div class="form__file">
									<span class="form__button">Добавить</span>
									<input type="file" name="file[]" class="form__input js-form__input">
									<input type="file" name="file[]" class="form__input js-form__input">
									<input type="file" name="file[]" class="form__input js-form__input">
									<input type="file" name="file[]" class="form__input js-form__input">
									<input type="file" name="file[]" class="form__input js-form__input">
								</div>
							</div>
						</div>
						<!-- КОНЕЦ -->

					</div>
				</form>

				<script type="text/javascript">

					var fileAdd = (function(opts) {

						var reader = new FileReader();
						var arrayCols = [];

						var extend = function (defaults, source) {

							for (var key in source) {
								if (source.hasOwnProperty(key)) {
									defaults[key] = source[key];
								}
							}

							return defaults;
						}

						var addEl = function (tagname, attrs, parent) {

							var tag,
							i;

							tag = document.createElement(tagname);

							for (i in attrs) {
								if (attrs.hasOwnProperty(i)) {
									tag.setAttribute(i, attrs[i]);
								}
							}

							if (parent) {
								parent.appendChild(tag);
							}

							return tag;
						};

						var events = function (tags, opts) {

							var counter = 0;

							forEach(tags.inputs, function(index) {

								this.addEventListener('change', function(e) {

									var files = this.files;

									if(/image/.test(files[0].type)) {
										reader.readAsDataURL(files[0]);
										type = 'image';
									}

									counter = index;

									this.classList.add('selected');

									addImage.call(this, index, tags, opts);

								});

							});

						}

						var addImage = function(index, tags, opts) {

							var obj = this;
							var col = addEl('div', {'class': opts.mainClass + '__col js-' + opts.mainClass + '__col'}, tags.parent);
							var img = addEl('img', {'class': opts.mainClass + '__pic'}, col);
							var deletes = addEl('small', {'class': opts.mainClass + '__delete'}, col);

							arrayCols.push(col);

							if(arrayCols.length == opts.limit) {
								this.parentNode.parentNode.style.display = 'none';
							}

							this.classList.add('selected');

							deletes.addEventListener('click', function() {
								this.parentNode.parentNode.removeChild(this.parentNode);
								obj.value = '';
								obj.classList.remove('selected');
								arrayCols.pop();
								if(arrayCols.length != opts.limit) {
									obj.parentNode.parentNode.style.display = 'block';
								}

							});

							reader.onload = function() {
								img.src = reader.result;
							}

						}

						var forEach = function(array, callback) {
							Array.prototype.forEach.call(array, function(node, index) {
								callback.call(node, index);
							});
						}

						return {

							init: function(opts) {

								this.opts = extend({
									inputs: '.js-form__input',
									limit: 5,
									mainClass: 'form'
								}, opts);

								this.tags = {};
								this.tags.inputs = document.querySelectorAll(this.opts.inputs);
								this.tags.parent = this.tags.inputs[0].parentNode.parentNode.parentNode;

								if(!this.tags.inputs || !this.tags.inputs.length) {
									return false;
								}

								events(this.tags, this.opts);

							}

						}

					})();

					fileAdd.init();

				</script>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>