.form {
    &__inner {
    }

    &__row {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    &__file {
        position: relative;
        height: 40px;
        width: 100px;
        background: #ccc;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    }

    &__col {
        width: 20%;
        position: relative;

        &_file {
            position: absolute;
            left: 0;
            top: 0;
        }

    }

    &__button {
        border-bottom: 1px dashed;
    }

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 200%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;

        &.selected {
            display: none;
        }

    }

    &__pic {
        display: block;
        max-width: 100%
    }

    &__delete {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: #000;
        cursor: pointer;
        display: block;
    }

}
